{% extends 'base.html' %}
{% block title %}Create{% endblock %}
{% block head %}
 {{ super() }}
 <script type="text/javascript" language="javascript">


     $(document).ready(function() {

        function uploadDudle(dudle) {
            var upload = function(format, data, width, height) {
                var s = "" + data;
                console.log("uploading : " + dudle.id);
                $.post('/json/dudles/update', {
                    id:dudle.id, data:s,
                    format:format, width: width, height: height
                    }, function() {
                        console.log("done"); 
                        $('#status>em').text('Saved');
                    });
             }
             dudle.save(upload, 'L'); 
        }


        function uploadDudleStrokes(dudle) {
            $.post('/json/dudles/updateStrokes', {
                id: dudle.id, data: dudle.recorder.recorded,
                width: '500', height: '250'
             }, function() { $('#status>em').text('Saved'); }, 'json');
        }

        function saveDudle(dudle) {
            console.log("saving dudle : " + dudle);
            $('#status>em').text('Saving ...');

            if (dudle.id) {
                uploadDudleStrokes(dudle);
                return;
            }

            $.post('/json/dudles/save', {}, function(json) {
                console.log('response : ' + json);
                console.log("got id : " + json.id);
                dudle.id = json.id;
                uploadDudleStrokes(dudle);
            }, 'json');
        }
        

        $("#dudlr-canvas").dudlrCanvas();
        var cvs = $.dudlrCanvases()[0];
        $().keyup(function(evt) {
            if (evt.keyCode == 83) {
                saveDudle(cvs);
            }
        });
        $('#save-button').click(function() {
            saveDudle(cvs); });
        $('#fill-style-icon').click(function() {
            cvs.widget.toggleFillStyle();});
     });
 </script>
{% endblock %}

{% block content_main %}
<div id="dudlr-canvas-block">


    <canvas id="dudlr-canvas" width="500" height="250">
    Your browser doesn't support the canvas element. That's too bad.
    </canvas><br/>
    <input type="button" value="Save" id="save-button"/><br/>

    <div id="legend">
        <div id="status"><em></em></div>
        <div id="fill-style-icon">&nbsp;</div>
        <div><em>Fill Mode: <span id="fill-mode">none</span></em></div>
        <ul id="controls-help">
            <li>Press <strong>F</strong> to toggle Fill Mode</li>
        </ul>
    </div>
    

</div>
{% endblock %}
