{% extends 'base.html' %}
{% block title %}Demo{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" language="javascript">
    $(document).ready(
        function() {
            $('canvas.dudle').each(function() {
                var elm = this;
                var id = $(this).attr('id').split('-')[1];
                $.getJSON('/json/dudles/strokes?id=' + id,
                    function(json) {
                        $('#dudle-' + id).dudlrRobot(json).run(); 
                    });
            }).click(function() {
                var elm = this;
                var id = $(this).attr('id').split('-')[1];
                $.getJSON('/json/dudles/strokes?id=' + id,
                    function(json) {
                        $('#dudle-' + id).dudlrRobot(json).handDraw(10); 
                    });
            });
        });
    </script>
{% endblock %}

{% block content_main %}
<div id="dudlr-display-block">
    {% for id in dudle_ids %}
    {#<img class="dudle" src="/dudles/images?id={{ id }}"/><br/>#}
    <canvas class="dudle" id="dudle-{{ id }}" width="500" height="250">Your browser is a piece of shit</canvas><br/>
    {% endfor %}
</div>
{% endblock %}
