{% extends 'base.html' %}
{% block title %}
{%if artist %}Gallery for {{ artist.name }}
{% else %}
The Only Place to "Dudle" on The Internets
{% endif %}
{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" language="javascript">
    $(document).ready(
        function() {
            $('canvas.dudle').each(function() {
                var elm = this;
                var id = $(this).attr('id').split('-')[1];
                $.getJSON('/json/dudles/strokes?id=' + id,
                    function(json) {
                        $('#dudle-' + id).dudlrRobot(json).run(); 
                    });
            }).click(function() {
                var elm = this;
                var id = $(this).attr('id').split('-')[1];
                $.getJSON('/json/dudles/strokes?id=' + id,
                    function(json) {
                        $('#dudle-' + id).dudlrRobot(json).handDraw(10); 
                    });
            });
            {% if user %}
            $('ul.active-user-rating > li > a').mouseout(function(event) {
                var target = $(event.target).parent().parent();
                target.find('a').removeClass('hovering').removeClass('empty');
            }).mouseover(function(event) {
                var target = $(event.target);
                target.parent().nextAll().children('a').removeClass('hovering').addClass('empty');
                target.addClass('hovering');
                target.parent().prevAll().children('a').addClass('hovering');
             }).click(function(event) {
                var target = $(event.target);
                var li = target.parent();
                var rating = 1 + li.prevAll().length;
                var dudle_id = li.parent().parent().find('canvas').attr('id').split('-')[1];
                $.post('/json/dudles/rate', {rating:rating, id:dudle_id}, function(json) { 
                    if (json.status == 'ok') {
                        console.log('rating : ' + json.rating);
                        var ul = $('#dudle-block-' + dudle_id + ' > ul');
                        var stars;
                        if (json.rating > 80) {
                            stars = 5;
                        } else if (json.rating > 60) {
                            stars = 4;
                        } else if (json.rating > 40) {
                            stars = 3;
                        } else if (json.rating > 20) {
                            stars = 2;
                        } else {
                            stars = 1;
                        }
                        console.log('stars : ' + stars);
                        var ct = 0;
                        ul.find('a').each(function() {
                            if (ct++ < stars) {
                                $(this).addClass('filled');
                            }  else {
                                $(this).removeClass('filled');
                            }
                        });
                    }
                }, 'json');
              });
            {% endif %}
        });
    </script>
{% endblock %}

{% block content_main %}
<div id="dudlr-display-block">
    {% if artist and artist.name == dudlr.name %}
    <h2>My Gallery</h2>
    {% elif artist %}
    <h2>Dudles by artist: <em>{{ artist.name}}</em></h2>
    {% endif %}
    {% for id in dudle_ids %}
    {#<img class="dudle" src="/dudles/images?id={{ id }}"/><br/>#}
    <div id="dudle-block-{{ id }}" class="dudle-block">
    {% set dudle=dudles[id] %}
    {% if dudle.public %}
    <ul class="user-rating{%if dudlr.name != dudle.artist.name %} active-user-rating{%endif%}">
        <li><a{%if dudle.rating is gt 0%} class="filled"{%endif%}></a></li>
        <li><a{%if dudle.rating is gt 20%} class="filled"{%endif%}></a></li>
        <li><a{%if dudle.rating is gt 40%} class="filled"{%endif%}></a></li>
        <li><a{%if dudle.rating is gt 60%} class="filled"{%endif%}></a></li>
        <li><a{%if dudle.rating is gt 80%} class="filled"{%endif%}></a></li>
    </ul>
    {% else %}
    <strong>Private</strong>
    {% endif %}
    <canvas class="dudle" id="dudle-{{ id }}" width="500" height="250">
    Your browser is a piece of shit. Sorry about that.</canvas><br/>
    {% if not dudle.anonymous %}
        {% if dudle.artist.name and not artist %}
        <em class="username"><a href="/dudlr/{{ dudle.artist.key().id() }}">{{ dudle.artist.name }}</a></em>
        {% elif dudle.artist.name %}
        <em class="username">{{ dudle.artist.name }}</em>
        {% else %}
        <em class="username">Anonymous</em>
        {% endif %}
    {% else %}
    <em class="username">Anonymous</em>
    {% endif %}
    <em class="timestamp">{{ dudle.created_date }}</em>
    </div>
    {% endfor %}
</div>
{% endblock %}
